.result-div{
    height: auto;
    width: 100%;
    margin-left: 10%;
}
.status{
    font-size: 2em;
    color: purple;
    font-weight: bold;
    text-align: center;
}
form.search{
    text-align: center;
}
.title{
    font-weight: bold;
    color: darkblue;
    font-size: 1.2em;
}
.description{

}
.num-date{
    display: flex;
    justify-content: space-around;
    padding: 5px;
    margin-left: 10em;
}
.date{
    margin-left: 20px;
}
.meta{
    display: flex;
    justify-content: space-between;
}
.res{
    width: 38%;
    margin-top: 10px;
    border: 1px solid black;
    height: auto;
}
.result-link{
    position: absolute;
    margin-top: 4em;
    padding: 10px 10px;
    color: lightslategray;
}
.help{
    position: absolute;
    padding: 10px 10px;
    color: darkslategrey;
}
.text{
    width: 30%;
}
.text, .submit{
    line-height: 3em;
    font-size: 1.5em;
    padding: 10px;
}