.inp{
    border: none;
    border-bottom: 2px solid black;
    text-align: center;
    font-size: 1.4em;
    width: 26%;
}
.submit{
    width: 10em;
    height: 4em;
    margin-left: 50px;
}
.main{
    width: 100%;
}
.input-div{
    font-size: 1.4em;
}
.status-div{
    font-size: 1.2em;
    color: red;
    padding: 20px;
    margin-left: 10em;
}
.result-div{
    width: 100%;
    height: auto;
}
.issues{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
    border: 1px solid black;
}
.profile img{
    max-width: 150px;
}
.profile p{
    background-color: black;
    width: 150px;
    height: 50px;
    text-align: center;
}
.profile a{
    color: whitesmoke;
    font-size: 2em;
    text-decoration: none;
}
.info-title{
    display: flex;
    justify-content: space-between;
}
.info{
    flex-grow: 2;
}
.title{
    font-size: 2em;
    color: darkred;
    text-align: center;
    margin-top: 1em;
}
.description{
    font-size: 1.4em;
    padding: 10px;
    color: darkblue;
}
.data-created{
    font-size: 1.8em;
    color: blueviolet;
    margin-top: 10px;
}
.number{
    font-weight: bold;
    font-size: 1.2em;
    margin-top: 1em;
}
.one-user, .one-repos{
    display: inline-block;
    width: auto;
    margin-left: 20px;
    height: 25px;
    background-color: black;
    color: white;
    padding: 2px;
    margin-top: 5px;
    cursor: pointer;
}
.modal-page{
    display: none;
    position: fixed;
    height: auto;
    width: 90%;
    margin-left: 5%;
    background-color: lightgoldenrodyellow;
}
.modal-info{
    display: flex;
    justify-content: space-between;
}
.modal-page button{
    width: 500px;
    height: 3em;
    background-color: black;
    color: lightgoldenrodyellow;
    text-shadow: cornflowerblue 1px 1px;
    font-size: 1.4em;
    font-weight: bold;
    cursor: pointer;
    margin-left: 30%;
    padding: 1em 1em;
}
.modal-title{
    flex-grow: 2;
}
.modal-meta{
    display: flex;
    padding-top: 1em;
    justify-content: space-around;
}
.modal-h2{
    font-size: 3em;
    color: darkred;
    text-align: center;
    font-weight: bold;
}
.modal-description{
    color: darkblue;
    font-size: 1.2em;
    line-height: 1.6em;
}